<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="section-title">
            <h4>10 Top Rated {{ getShowTypeName() }}</h4>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="btn__all">
            <a href="#" class="primary-btn" (click)="changeShowType()"> View {{ getInvertedShowTypeName() }} <span class="arrow_right"></span></a>
            
        </div>
    </div>
</div>


<div class="row">
    <app-single-item *ngFor="let i of items" [item]="i"></app-single-item>
</div>

<div  class="d-flex justify-content-center">
    <button type="submit" class="site-btn" (click)="viewMore()">View More</button>
</div>