    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="../assets/img/logo.png" height="50px" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">                        
                    <input type="text" id="input-search"  [(ngModel)]="search_param" class="input-search" placeholder="Search here...">
                        <a href="#" class="search-switch"><span class="icon_search">
                        </span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                        <!-- List of Shows -->
                        <app-home [search_param]=(search_param)></app-home>
                </div>
                <div class="popular__product">
                    <div class="row">
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Movie APP</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

